version: '2'
services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    environment:
      - TZ="America/Chicago"
    network_mode: host
    volumes:
      - ${HOME}/plex/database:/config
      - ${HOME}/plex/transcode:/transcode
      - ${HOME}/plex/media-library:/data
    devices:
      - /dev/dri:/dev/dri
