[Unit]
Description=Podman Exporter
After=prometheus.container network-online.target

[Container]
# Base options
ContainerName=podman-exporter
Image=quay.io/navidys/prometheus-podman-exporter:latest

# Storage options
Volume=%t/podman/podman.sock:/run/podman/podman.sock:ro,z

# Network options
Network=prometheus.network
PublishPort=9882:9882

# Environment options
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock

# Other options
SecurityLabelType=container_runtime_t
UserNS=keep-id

[Service]
Restart=always
RestartSec=15sec
TimeoutStartSec=900

[Install]
WantedBy=default.target

