[Unit]
Description=Authentik PostgreSQL Database
After=network-online.target

[Container]
# Base options
ContainerName=authentik-postgresql
Image=docker.io/library/postgres:18-alpine
Pod=authentik.pod

# Storage options
Volume=authentik-database.volume:/var/lib/postgresql

# Environment options
Environment=POSTGRES_DB=authentik
Environment=POSTGRES_USER=authentik

# Secret options
Secret=authentik-db-pass,type=env,target=POSTGRES_PASSWORD

# Healthcheck options
HealthCmd=pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
HealthInterval=30s
HealthRetries=5
HealthStartPeriod=20s
HealthTimeout=5s

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target

