[Unit]
Description=Authentik Server
After=network-online.target authentik-postgresql.service
Requires=authentik-postgresql.service

[Container]
# Base options
ContainerName=authentik-server
Exec=server
Image=ghcr.io/goauthentik/server:2026.8.0
Pod=authentik.pod

# Storage options
Volume=%h/authentik/custom-templates:/templates
Volume=%h/authentik/data:/data

# Environment options
Environment=AUTHENTIK_POSTGRESQL__HOST=authentik-postgresql
Environment=AUTHENTIK_POSTGRESQL__NAME=authentik
Environment=AUTHENTIK_POSTGRESQL__USER=authentik

# Secret options
Secret=authentik-db-pass,type=env,target=AUTHENTIK_POSTGRESQL__PASSWORD
Secret=authentik-secret-key,type=env,target=AUTHENTIK_SECRET_KEY

# Other options
ShmSize=512mb

[Service]
ExecStartPre=mkdir -p %h/authentik/data && mkdir -p \
  %h/authentik/custom-templates
Restart=always
RestartSec=10sec
TimeoutStartSec=900

[Install]
WantedBy=default.target

