[Unit]
Description=Authentik PostgreSQL Database

[Container]
# Base options
ContainerName=wikijs-postgresql
Image=docker.io/library/postgres:18-alpine
Pod=wikijs.pod

# Storage options
Volume=wikijs-database.volume:/var/lib/postgresql

# Environment options
Environment=POSTGRES_DB=wiki
Environment=POSTGRES_USER=wikijs

# Secret options
Secret=wikijs-db-pass,type=env,target=POSTGRES_PASSWORD

# Healthcheck options
HealthCmd=pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
HealthInterval=30s
HealthRetries=5
HealthStartPeriod=20s
HealthTimeout=5s

[Service]
Restart=always
RestartSec=5s
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target

